<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title >Title</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="bodyer">

<div class="header1">
<div class="head1">
<img src="{{ url_for('static', filename='img/1.png') }}" alt="Img" class="responsive" align="left">
</div>
<div class="head1"><h1>Проекты Flask</h1> </div>
<div class="head1"><p>Контакты:<br>
<a href="https://vk.com/id144717859" target="_blank">Вк</a><br>
<a href="https://github.com/MAkswdrfgv" target="_blank">Github</a>
</p> </div></div>
<div class="header2"><h2 class="center">Безумие</h2>
<p>Альберт Эйнштейн: Безумие — это точное повторение одного и того же действия. Раз за разом, в надежде на изменение. Это есть безумие.</p><div>
<p><a href="info">ссылка на сайт</a></p>
<p><a href="form">ссылка на форму</a></p>
<p><a href="video">ссылка на сайт с видео-фоном</a></p>

</div>
</body>
</html>