<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Isometric Menu</title>
<link rel="stylesheet" href="{{ url_for('static', filename='info.css') }}">
</head>
<body>
<h1>Проекты</h1>
<div class="header1">
<div class="forma1">
<ul>
<li style="--i:6"><a href="#" target="_blank">Home</a></li>
<li style="--i:5"><a href="#" target="_blank">About</a></li>
<li style="--i:4"><a href="#" target="_blank">Services</a></li>
<li style="--i:3"><a href="#" target="_blank">Portfolio</a></li>
<li style="--i:2"><a href="#" target="_blank">Our Team</a></li>
<li style="--i:1"><a href="#" target="_blank">Contact</a></li>
</ul></div>
<img src="{{ url_for('static', filename='img/1.png') }}" id="pict1" alt="Img">
</div>
<p><a href="/">Вернуться на главную</a></p>



</body>
</html>
