<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='video.css') }}">
    <title>Видео природа</title>
</head>
<body>
    <!--<audio controls src="1.mp3"></audio>-->
    <div class="wrapper">
        
        <!--Фулскрин-->
        <div class="full-screen">
            <div class="full-screen__body">
                <div class="full-screen__title">Природа</div>
                <div class="full-screen__text">Берегите природу, <b> <a href="/">мать Вашу</a> </b></div>
            </div>
            <video autoplay muted loop preload="auto" class="full-screen__video">
                <source src="{{ url_for('static', filename='video/video.webm') }}" type="video/webm">
                <source src="{{ url_for('static', filename='video/video.mp4') }}" type="video/mp4">
            </video>
        </div>
        <!--Контент-->
        <div class="content">
            <div class="content__container1">
                <p>Приро́да — материальный мир Вселенной, в сущности — основной объект изучения естественных наук.

                    В быту слово «природа» часто употребляется в значении естественная среда обитания (всё, что не создано человеком).<br>
                    Земля — единственная известная в настоящий момент планета, на которой есть жизнь. Её природные особенности являются предметом многих научных исследований. Это третья по счёту от Солнца планета Солнечной системы и крупнейшая по диаметру, массе и плотности среди планет земной группы. Основные климатические особенности Земли заключаются в наличии двух больших полярных регионов, двух относительно узких умеренных зон и одного широкого экваториально-тропического региона[3]. Количество осадков на планете варьируется в широких пределах в зависимости от местоположения и колеблется от миллиметра до нескольких метров осадков в год. Около 71 % поверхности Земли занимает океан. Остальная часть состоит из континентов и островов, причём большая часть суши, населённой людьми, находится в северном полушарии.
                    <br>Эволюция Земли происходила посредством геологических и биологических процессов, которые оставили следы первоначальных условий. Поверхность планеты разделена на несколько непрерывно движущихся литосферных плит, что приводит к периодическому слиянию и разъединению континентов. Внутренняя часть Земли состоит из толстого слоя расплавленной мантии и железного ядра, генерирующего магнитное поле.
                    <br>Состав текущей атмосферы был существенно изменён по сравнению с первоначальной посредством жизнедеятельности различных форм жизни[4], которые создают экологическое равновесие, стабилизирующее условия на поверхности. Несмотря на значительные различия в климате в зависимости от широты и других географических факторов, средний глобальный климат достаточно стабилен во время межледниковых периодов[5], а изменение на 1—2 °C средней глобальной температуры исторически имело серьёзное влияние на экологический баланс и географию Земли[6][7].
                    <br>Геология — комплекс наук о составе, строении земной коры и размещённых в ней полезных ископаемых. Комплекс наук в составе геологии занимается изучением состава, структуры, физических свойств, динамики и истории земных материалов, а также процессов, посредством которых они образуются, перемещаются и изменяются. Геология — одна из основных академических дисциплин, которая, помимо прочего, имеет важное значение для добычи минерального и углеводородного сырья, прогнозирования и смягчения последствий стихийных бедствий, расчётов в геотехнических областях[en] и изучения климата и окружающей среды в прошлом.
                </p>
            </div>
            <div class="content__container2">
                <p>Приро́да — материальный мир Вселенной, в сущности — основной объект изучения естественных наук.

                    В быту слово «природа» часто употребляется в значении естественная среда обитания (всё, что не создано человеком).<br>
                    Земля — единственная известная в настоящий момент планета, на которой есть жизнь. Её природные особенности являются предметом многих научных исследований. Это третья по счёту от Солнца планета Солнечной системы и крупнейшая по диаметру, массе и плотности среди планет земной группы. Основные климатические особенности Земли заключаются в наличии двух больших полярных регионов, двух относительно узких умеренных зон и одного широкого экваториально-тропического региона[3]. Количество осадков на планете варьируется в широких пределах в зависимости от местоположения и колеблется от миллиметра до нескольких метров осадков в год. Около 71 % поверхности Земли занимает океан. Остальная часть состоит из континентов и островов, причём большая часть суши, населённой людьми, находится в северном полушарии.
                    <br>Эволюция Земли происходила посредством геологических и биологических процессов, которые оставили следы первоначальных условий. Поверхность планеты разделена на несколько непрерывно движущихся литосферных плит, что приводит к периодическому слиянию и разъединению континентов. Внутренняя часть Земли состоит из толстого слоя расплавленной мантии и железного ядра, генерирующего магнитное поле.
                    <br>Состав текущей атмосферы был существенно изменён по сравнению с первоначальной посредством жизнедеятельности различных форм жизни[4], которые создают экологическое равновесие, стабилизирующее условия на поверхности. Несмотря на значительные различия в климате в зависимости от широты и других географических факторов, средний глобальный климат достаточно стабилен во время межледниковых периодов[5], а изменение на 1—2 °C средней глобальной температуры исторически имело серьёзное влияние на экологический баланс и географию Земли[6][7].
                    <br>Геология — комплекс наук о составе, строении земной коры и размещённых в ней полезных ископаемых. Комплекс наук в составе геологии занимается изучением состава, структуры, физических свойств, динамики и истории земных материалов, а также процессов, посредством которых они образуются, перемещаются и изменяются. Геология — одна из основных академических дисциплин, которая, помимо прочего, имеет важное значение для добычи минерального и углеводородного сырья, прогнозирования и смягчения последствий стихийных бедствий, расчётов в геотехнических областях[en] и изучения климата и окружающей среды в прошлом.
                </p>
            </div>
            <div class="content__container3">
                <p>Приро́да — материальный мир Вселенной, в сущности — основной объект изучения естественных наук.

                    В быту слово «природа» часто употребляется в значении естественная среда обитания (всё, что не создано человеком).<br>
                    Земля — единственная известная в настоящий момент планета, на которой есть жизнь. Её природные особенности являются предметом многих научных исследований. Это третья по счёту от Солнца планета Солнечной системы и крупнейшая по диаметру, массе и плотности среди планет земной группы. Основные климатические особенности Земли заключаются в наличии двух больших полярных регионов, двух относительно узких умеренных зон и одного широкого экваториально-тропического региона[3]. Количество осадков на планете варьируется в широких пределах в зависимости от местоположения и колеблется от миллиметра до нескольких метров осадков в год. Около 71 % поверхности Земли занимает океан. Остальная часть состоит из континентов и островов, причём большая часть суши, населённой людьми, находится в северном полушарии.
                    <br>Эволюция Земли происходила посредством геологических и биологических процессов, которые оставили следы первоначальных условий. Поверхность планеты разделена на несколько непрерывно движущихся литосферных плит, что приводит к периодическому слиянию и разъединению континентов. Внутренняя часть Земли состоит из толстого слоя расплавленной мантии и железного ядра, генерирующего магнитное поле.
                    <br>Состав текущей атмосферы был существенно изменён по сравнению с первоначальной посредством жизнедеятельности различных форм жизни[4], которые создают экологическое равновесие, стабилизирующее условия на поверхности. Несмотря на значительные различия в климате в зависимости от широты и других географических факторов, средний глобальный климат достаточно стабилен во время межледниковых периодов[5], а изменение на 1—2 °C средней глобальной температуры исторически имело серьёзное влияние на экологический баланс и географию Земли[6][7].
                    <br>Геология — комплекс наук о составе, строении земной коры и размещённых в ней полезных ископаемых. Комплекс наук в составе геологии занимается изучением состава, структуры, физических свойств, динамики и истории земных материалов, а также процессов, посредством которых они образуются, перемещаются и изменяются. Геология — одна из основных академических дисциплин, которая, помимо прочего, имеет важное значение для добычи минерального и углеводородного сырья, прогнозирования и смягчения последствий стихийных бедствий, расчётов в геотехнических областях[en] и изучения климата и окружающей среды в прошлом.
                </p>
            </div>
        </div>
        <!--Адаптив-->
        <div class="items">
            <div class="items__container">
                <div class="items__body">
                    <div class="item">
                        <div class="item__video">
                            <iframe src="https://www.youtube.com/embed/K7rhNkrRotM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                    </div>
                    <div class="item">

                        <div class="item__video">
                            <iframe src="https://www.youtube.com/embed/egwj2y7gpmY?controls=0" title="YouTube video player"frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                    </div>
                    <div class="item">

                        <div class="item__video">
                            <iframe src="https://www.youtube.com/embed/K7rhNkrRotM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                    </div>

                        

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content__container1">
                <p>Приро́да — материальный мир Вселенной, в сущности — основной объект изучения естественных наук.

                    В быту слово «природа» часто употребляется в значении естественная среда обитания (всё, что не создано человеком).<br>
                    Земля — единственная известная в настоящий момент планета, на которой есть жизнь. Её природные особенности являются предметом многих научных исследований. Это третья по счёту от Солнца планета Солнечной системы и крупнейшая по диаметру, массе и плотности среди планет земной группы. Основные климатические особенности Земли заключаются в наличии двух больших полярных регионов, двух относительно узких умеренных зон и одного широкого экваториально-тропического региона[3]. Количество осадков на планете варьируется в широких пределах в зависимости от местоположения и колеблется от миллиметра до нескольких метров осадков в год. Около 71 % поверхности Земли занимает океан. Остальная часть состоит из континентов и островов, причём большая часть суши, населённой людьми, находится в северном полушарии.
                    <br>Эволюция Земли происходила посредством геологических и биологических процессов, которые оставили следы первоначальных условий. Поверхность планеты разделена на несколько непрерывно движущихся литосферных плит, что приводит к периодическому слиянию и разъединению континентов. Внутренняя часть Земли состоит из толстого слоя расплавленной мантии и железного ядра, генерирующего магнитное поле.
                    <br>Состав текущей атмосферы был существенно изменён по сравнению с первоначальной посредством жизнедеятельности различных форм жизни[4], которые создают экологическое равновесие, стабилизирующее условия на поверхности. Несмотря на значительные различия в климате в зависимости от широты и других географических факторов, средний глобальный климат достаточно стабилен во время межледниковых периодов[5], а изменение на 1—2 °C средней глобальной температуры исторически имело серьёзное влияние на экологический баланс и географию Земли[6][7].
                    <br>Геология — комплекс наук о составе, строении земной коры и размещённых в ней полезных ископаемых. Комплекс наук в составе геологии занимается изучением состава, структуры, физических свойств, динамики и истории земных материалов, а также процессов, посредством которых они образуются, перемещаются и изменяются. Геология — одна из основных академических дисциплин, которая, помимо прочего, имеет важное значение для добычи минерального и углеводородного сырья, прогнозирования и смягчения последствий стихийных бедствий, расчётов в геотехнических областях[en] и изучения климата и окружающей среды в прошлом.
                </p>
            </div>
    </div>
    
</body>
</html>